{% extends "base.html" %}
{% load static %}


{% block css %}
<link href="{% static 'css/block.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
{% if binfo.type == "send" %}
<div class="block-info">
	<div id="qr"></div>
	<h2 class="sent-amount">Sent 0.235 XRB</h2>
	<h3 class="from-to">From <a href="/wallet?w={{account}}">{{account}}</a></h3>
	<h3 class="from-to">To <a href="/wallet?w={{binfo.destination}}">{{binfo.destination}}</a></h3>
	<div class="tec">
		<table>
			<tbody>
				<tr>
					<th>Block</th>
					<td>{{block_hash}}</td>
				<tr>
				<tr>
					<th>Type</th>
					<td>{{binfo.type}}</td>
				<tr>
				<tr>
					<th>Destination</th>
					<td><a href="/wallet?w={{binfo.destination}}">{{binfo.destination}}</a></td>
				</tr>
				<tr>
					<th>Work</th>
					<td>{{binfo.work}}</td>
				</tr>
				<tr>
					<th>Signature</th>
					<td style="font-size: 0.55em">{{binfo.signature}}</td>
				</tr>
			</tbody>
		</table>
{% elif binfo.type == "receive" %}
<div class="block-info">
	<div id="qr"></div>
	<h2 class="sent-amount">Received 0.235 XRB</h2>
	<h3 class="from-to">From <a href="/wallet?w={{account}}">{{account}}</a></h3>
	<h3 class="from-to">To <a href="/wallet?w={{binfo.destination}}">{{block2.destination}}</a></h3>
	<div class="tec">
		<table>
			<tbody>
				<tr>
					<th>Block</th>
					<td>{{block_hash}}</td>
				<tr>
				<tr>
					<th>Type</th>
					<td>{{binfo.type}}</td>
				<tr>
				<tr>
					<th>Destination</th>
					<td><a href="/wallet?w={{block2.destination}}">{{block2.destination}}</a></td>
				</tr>
				<tr>
					<th>Work</th>
					<td>{{binfo.work}}</td>
				</tr>
				<tr>
					<th>Signature</th>
					<td style="font-size: 0.55em">{{binfo.signature}}</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
{% elif binfo.type == "open" %}
<div class="block-info">
	<div id="qr"></div>
	<h2 class="sent-amount">{{isReceivedOrSent}} 0.235 XRB</h2>
	<h3 class="from-to">From <a href="/wallet?w={{account}}">{{account}}</a></h3>
	<h3 class="from-to">To <a href="/wallet?w={{block2.destination}}">{{block2.destination}}</a></h3>
	<div class="tec">
		<table>
			<tbody>
				<tr>
					<th>Block</th>
					<td>{{block_hash}}</td>
				<tr>
				<tr>
					<th>Type</th>
					<td>{{binfo.type}}</td>
				<tr>
				<tr>
					<th>Destination</th>
					<td><a href="/wallet?w={{block2.destination}}">{{block2.destination}}</a></td>
				</tr>
				<tr>
					<th>Work</th>
					<td>{{binfo.work}}</td>
				</tr>
				<tr>
					<th>Signature</th>
					<td style="font-size: 0.55em">{{binfo.signature}}</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/qrcode.min.js' %}"></script>
<script>
	new QRCode(getId('qr'), {
		text: '{{block_hash}}',
		width: 250,
		height: 250
	});
</script>
{% endblock %}