{% extends "base.html" %}
{% load static %}


{% block css %}
<link href="{% static 'css/wallet.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
{% if error %} 
	<h2 class="error"> Wallet Not Found</h2>
	<h2 class="error">:(</h2>
{% else %}
<div class="wallet-info">
	<div class="sumary">	
		<h3>Sumary</h3>
		<table class="mdl-data-table mdl-js-data-table">
			<tbody>
				<tr>
					<th rowspan="3"><img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=xrb:{{address}}"></th>
					<td>Address: <a href="/wallet?w={{address}}"> {{address}} </a></td>
				</tr>
				<tr>
					<td>Balance: <spam id="balance"> {{balance}} </spam> xrb</td>
				</tr>
				<tr>
					<td>Block count: {{blockcount}}</td>
				</tr>
			</tbody>
		</table>

		<h3>Transactions </h3>
		
		<table class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      	<th>Type</th>
				<th>Amount </th>
				<th>Account/Block</th>
		    </tr>
		  </thead>
		  <tbody>
				{% for transaction in transactions %}
				<tr>{% if transaction.type == "send" %}
					<td class="mdl-data-table__cell" style="color: red">{{transaction.type}}</td>
				 	{% else %}
				 	<td class="mdl-data-table__cell" style="color: green">{{transaction.type}}</td>
				 	{% endif %}
					<td class="mdl-data-table__cell amount">{{transaction.amount}}</td>
					<td class="mdl-data-table__cell">
						<a href="/wallet?w={{transaction.account}}">{{transaction.account}}	</a><br/>
						<a href="/block?b={{transaction.hash}}">{{transaction.hash}}</a>
					</td>
				</tr>
				{% endfor %}
		  </tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
	let amounts = document.querySelectorAll('.amount');
	amounts.forEach((amount) => {
		amount.textContent = amount.textContent*10**-30;
	});
	getId('balance').textContent = getId('balance').textContent/10**6;
</script>
{% endblock %}
