{% extends "base.html" %}
{% load static %}


{% block css %}
<link href="{% static 'css/wallet.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
{% if error %} 
	<h2 class="error"> Wallet Not Found</h2>
	<h2 class="error">:(</h2>
{% else %}
<div class="wallet-info">
	<img class="qr" src="https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=xrb:{{address}}">
	<div class="sumary">	
		<h3>Sumary</h3>
		<table>
			<tbody>
				<tr>
					<td class="s-title">Address: </td> 
					<td class="address"><a href="/wallet?w={{address}}">{{address}}</a></td>
				</tr>
				<tr>
					<td class="s-title">Balance: </td>
					<td><spam id="balance">{{balance}}</spam> xrb</td>
				</tr>
				<tr>
					<td class="s-title">Block count: </td>
					<td>{{blockcount}}</td>
				</tr>
				<tr>
					<td class="s-title">Representative: </td>
					<td style="font-size: 0.9em"><a href="/block?b={{representative}}">{{representative}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="transactions">
		<h3>Transactions </h3>
		<div class="transactions-table">
			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			  <thead>
			    <tr>
			      	<th>Type</th>
					<th>Amount </th>
					<th>Account </th>
					<th>Block </th>
			    </tr>
			  </thead>
			  <tbody>
			  	
					{% for transaction in transactions %}
					<tr>{% if transaction.type == "send" %}
							<td class="mdl-data-table__cell" style="color: red">{{transaction.type}}</td>
					 	{% else %}
					 		<td class="mdl-data-table__cell" style="color: green">{{transaction.type}}</td>
					 	{% endif %}
						<td class="mdl-data-table__cell amount">{{transaction.amount}}</td>
						<td class="mdl-data-table__cell"><a href="/wallet?w={{transaction.account}}">{{transaction.account}}</a></td>
						<td class="mdl-data-table__cell"><a href="/block?b={{transaction.hash}}">{{transaction.hash}}</a></td>
					</tr>
					{% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
	let amounts = document.querySelectorAll('.amount');
	amounts.forEach((amount) => {
		amount.textContent = amount.textContent*10**-30;
	});
	getId('balance').textContent = getId('balance').textContent/10**6;
</script>
{% endblock %}
