.lk-logo{
    text-decoration: none;
}   .lk-logo:hover{
        text-decoration: none;
    }
.lk-logo {
    outline: none;
    color: inherit;
    text-decoration: none;
}

.mdl-layout__drawer .lk-logo {
	padding: 10px 0 0 10px;
}

.img-logo {
    height: 40px;
    width: 34px;
    display: inline-block;
    vertical-align: middle;
}

.img-logo:before {
    content: url(../img/logo.png);
    display: inline-block;
    height: 40px;
    width: 34px;
}

.mdl-layout-title {
    display: inline-block;
}
