
.peers-list{
	font-size: 2em;
	width: 30%;
	margin: 0 auto;
}	
	#ip{
		text-align: center;
	}
	.peers-list th{
		font-size: 1.5em;

	}
	.peers-list td{
		text-align: center;
		font-size: 0.5em;
		font-size: 0.8em;
	}.peers-list td a{
		color: #009973;
		text-decoration: none;
	}.peers-list td a:hover{
		text-decoration: underline;
	}