a{
	text-decoration: none;
}	a:hover{
		text-decoration: underline;
	}

th, tr{
	font-family: sans-serif;
}
.wallet-info{
	margin-top: 4em;
}	
		.qr{
			position: absolute;
			right: 26%;
			top: 7em;
			border: 0.6em solid #005c99;
		}

	.sumary{
		display: inline-block;
		position: absolute;
		left: 25%;
	}	.sumary a{
			color: #009973;
		}
		.sumary h3{
			color: #666666;
			font-size: 1.6em;
			font-family: sans-serif;
			border-bottom: 0.1em solid grey;
		}
		.s-title{
			font-size: 1.1em;
			color: #666666;
		}
		.address{
			font-size: 0.9em;
		}
	.transactions{
		display: inline-block;
		position: absolute;
		top: 24em;
		left: 14%;

	}
		.transactions h3{
			color: #666666;
			font-size: 1.6em;
			font-family: sans-serif;
			border-bottom: 0.1em solid grey;
		}
		.transactions th{
			text-align: center;
			font-size: 1.8em;

			color: #666666;
		}
		.transactions tr{
			background-color: #fdfdff;
		}
		.transactions td{
			font-size: 0.9em;
			color: grey;		
			
			margin: 0;
			text-align: left;
		}
		.transactions a{
			color: #0073e6;
		}