th, tr{
	font-family: sans-serif;
}
.wallet-info{
	margin-top: 4em;
		margin-left: 0%;
	}	
		.qr{
			position: absolute;
			right: 15%;
			top: 7em;
			border: 0.6em solid #005c99;
		}

	.sumary{
		display: inline-block;
		position: absolute;
		left: 20%;
	}
		.sumary h3{
			color: #666666;
			font-size: 1.6em;
			font-family: sans-serif;
			border-bottom: 0.1em solid grey;
		}
		.s-title{
			font-size: 1.1em;
			color: #666666;
		}
		.address{
			font-size: 0.9em;
		}
	.transactions{
		display: inline-block;
		position: absolute;
		top: 24em;
		left: 20%;
	}
		.transactions h3{
			color: #666666;
			font-size: 1.6em;
			font-family: sans-serif;
			border-bottom: 0.1em solid grey;
		}
		.transactions th{
			color: #666666;
		}
		.transactions tr{
			background-color: #fdfdff;
		}
		.transactions td{
			font-size: 0.7em;
			color: grey;		
			padding: 0.5em;
			margin: 0;
		}
		.transactions a{
			color: grey;
			text-decoration: none;
		}